html{
    width: 100%
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    background: rgba(0.3, 0.3, 0.3, 0.1);
}
#mainDiv{
    margin-right: 10%;
    margin-left: 10%;
}
/*				ONGLETS				*/
#tab{
	position: absolute;
    list-style-type : none;
    padding : 0px;
    left: 50%;
    margin-top : 10;
    margin-bottom: 10;
    color: black;
}
#tab li{
    float : left;
    height : 21px;
    margin : 1px 2px 0 2px;

}

#tab li.active{
   color: yellow;

}
#tab a{
    display : block;
    text-decoration : none;
    padding : 10px;
}
#tab a:hover{
    color : blue;
}
#menu{
    border-bottom : 1px solid black;
    padding-bottom : 70px;
}
/* TITRE PRINCIPAL DE LA PAGE */
#mainTitle{

    padding: 20px;
}
h1{
    padding-top: 10px;
}
h2{

}
li{
    list-style-type: none;
}
#mainContainer{ /*SECTION PRINCIPALE DES PAGES HTML*/

    border: 1px solid black;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    top: 0;
    bottom: 0;
    display: block;
}
#displayErrorMessages{ /*AFFICHE MESSAGES D'ERREUR OU DE SUCCES*/
    top: 70px;
    border: 1px solid black;
    position: fixed;
    display: none;
    width: 25%;
    background-color: rgb(255, 0, 0);
    border-radius: 25px;

}
#displaySuccessMessages{ /*AFFICHE MESSAGES D'ERREUR OU DE SUCCES*/
    top: 70px;
    border: 1px solid black;
    position: fixed;
    display: none;
    width: 25%;
    background-color: rgb(0, 255, 0);
    border-radius: 25px;

}
/*            POP UP                   */
/* RAPPEL
    #: SELECTEURS ID
    .: SELECTEURS CLASSE
*/
.background{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
#window{
    margin: 15% auto;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;


}
#window2{
    margin: 10% auto;
    height: 50%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    display: block;

}

/* AFFICHAGE DES MINIATURE DES EVENTS */
#miniatureEvent{

    display:  block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
#miniatureEvent table{
    padding-right: 50px;
    padding-left: 10px;
}
#miniatureEvent li{
    border: 1px solid black;
    background-color: white;

}
#imageEvent{
    margin: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(image/tumblr_p6e7vvzz0u1tt4oz9o1_500.jpg);
}
.arrayMiniature{
    list-style-type: none;

}
#roomBox{
    border: 1px solid black;
    box-sizing: border-box;

}
#bookingFormStep1{
    display: block;
}
#miniatureRoom li{
    /*border: 1px solid black;
    background-color: white;*/
    width: 300px;
    height: 150px;
    padding: 10px;



}
#miniatureRoom{
    
    display:  block;
    width: 400px;
    height: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;    
    /*box-sizing: border-box;*/
    

}
#miniatureRoom button{
    border-radius: 20px;

}
li:hover{

    cursor: pointer;
}
/* DIV DE L'ESPACE PERSONNEL */
#contentInfo{

    border-radius: 10px;
    width: 60%;
    padding: 30px;
    margin: 40px;
    
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
}
#editProfileFormSpan{

    width: 40%;
    padding-left: 25px;
    margin: 20px;
    display: block;
    text-align: left;
    border: none;
    box-sizing: border-box;

}

span p{
    text-align: right;
    display: block;


}
span input{

    text-align: left;
    display: block;


}
.userInfo{
    float: left;
    width: 150px;

}

fieldset{
    border-radius: 10px;
}
select{
    border-radius: 10px;
}


/* FORMULAIRE DE CREATION D'EVENTS */
#eventFormContainer{

    border: 1px solid black;
    border-radius: 2px;
}
#undoButton{
    display: none;
}

/* GESTION DES MENUS */
/* DIV MENU ACTUEL */
#actualMenu{
    border: 1px solid black;
    width: 20%;
    display: block;
}


footer{

    width: 100%;
    border: 1px solid black;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;

}

textarea{
    resize: none;
    width: 300px;
    height: 100px;
    border-radius: 20px;

}
.hidden{
    display: none;
}
#nameOpenSpaceForm{
    display: none;
}

#recapBooking {
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 5%; 
    width: 800px;
    height: 600px; 

    box-sizing: border-box;


}
#paymentForm {

    border-radius: 25px;
    border: 2px solid black;
    margin-top: 5%; 
    width: 800px;
    height: 600px; 

    box-sizing: border-box;

}
#errors_booking{
    margin: 50px;
}