/**
 * Faisons du beau, faisons du gracieux. 
 */

/**
 * Typographies Google Maggle !
 */
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

h1 {
  font-family: 'Slabo 27px', serif;
}

.chat{
  position: fixed;
  padding:10px;
  right:20px;
  bottom:-5px; /*Position boite message pour la fixer en bas de la page */
  width:250px; /*largeur fenêtre messages*/
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius:5px 5px 0px 0px;
}
/*
body, input, button {
  font-family: Ubuntu, sans-serif;
}*/

header {
  text-align: center;
}

.messages {
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 5px;
  padding: 1em;
  height: 50vh;
  overflow: auto;
}

.message {
  color: white;
  padding: 0.3em;
}

.date{/*, .author {*/
  font-weight: bold;
}

form {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

input, button {
  padding: 0.5em;
}

input {
  margin-right: 10px;
}

/*#author {
  width: 20%;
}
*/
#content {
  width: 60%;
}

button[type="submit"]{
  width: 20%;
}