/*				ONGLETS				*/
#tab{
	position: absolute;
    list-style-type : none;
    padding : 0px;
    left: 50%;
    margin-top : 10;
    margin-bottom: 10;
    color: black;
}
#tab li{
    float : left;
    height : 21px;
    margin : 1px 2px 0 2px;

}

#tab li.active{
   color: yellow;

}
#tab a{
    display : block;
    text-decoration : none;
    padding : 10px;
}
#tab a:hover{
    color : blue;
}
#menu{
    border-bottom : 1px solid black;
    padding-bottom : 70px;
}
/* TITRE PRINCIPAL DE LA PAGE */
#mainTitle{
    border-bottom : 1px solid black;
    padding: 20px;
}
h1{
    padding-top: 15px;
}
h2{

}
/*            POP UP                   */
/* RAPPEL
    #: SELECTEURS ID
    .: SELECTEURS CLASSE
*/
.background{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
#window{
    margin: 15% auto;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}
#window2{
    margin: 10% auto;
    height: 50%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    display: block;

}
#miniatureEvent{

    margin: 30px;
}
#eventArrayMiniature{
    list-style-type: none;
    width: 500px;
}
li:hover{

    cursor: pointer;
}
/* DIV DE L'ESPACE PERSONNEL */
#contentInfo{

    border-radius: 10px;
    width: 40%;
    padding: 30px;
    margin: 40px;
    
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
}
#editProfileFormSpan{

    width: 40%;
    padding-left: 25px;
    margin: 20px;
    display: block;
    text-align: left;
    border: none;
    box-sizing: border-box;

}

span p{
    text-align: right;
    display: block;


}
span input{

    text-align: left;
    display: block;


}
.userInfo{
    float: left;
    width: 150px;

}

fieldset{
    border-radius: 10px;
}
select{
    border-radius: 10px;
}


/* FORMULAIRE DE CREATION D'EVENTS */
#eventFormContainer{

    border: 1px solid black;
    border-radius: 2px;
}
#undoButton{
    display: none;
}

/* GESTION DES MENUS */
/* DIV MENU ACTUEL */
#actualMenu{
    border: 1px solid black;
    padding: 50px;
    margin-left: 100px;
    width: 20%;
    float: left;
}

/*EDITION DU MENU*/
#editMenu{
    border: 1px solid black;
    padding: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    float: right;
    width: 50%;
}
